# Whisper oficial desde GitHub
git+https://github.com/openai/whisper.git

# PyTorch + CUDA 12.1
torch==2.2.0+cu121
torchvision==0.17.0+cu121
torchaudio==2.2.0+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

# Utilidades necesarias para Whisper
numpy
ffmpeg-python